<section class="base d-flex flex-column">
    <div class="logoContainer">
        <figure class="d-flex justify-content-center">
            <a [routerLink]="'/'">
                <img src="assets/images/white_logo_atlas.svg" alt="Atlas Quantum">
            </a>
        </figure>
    </div>

    <ul class="side-options">
        <li>
            <a [routerLink]="'/'">
                <img src="assets/images/icon_home.svg" alt="Home">
                <span>Lucros</span>
            </a>
        </li>
    </ul>

</section>