<form #formPesquisar="ngForm" (submit)="desabilitarValidacao ? enviarTermo() : formPesquisar.form.valid && enviarTermo();" class="pesquisar d-flex align-items-center justify-content-between">
    <input type="text" name="pesquisa" id="pesquisa" #pesquisa="ngModel" [(ngModel)]="termoEmPesquisa" required="true" placeholder="Digite qualquer coisa da tabela">
    <button class="d-flex align-items-center justify-content-between" type="submit"><img src="assets/images/icon_lupa.svg" alt="Pesquisar"></button>
</form>