<form #formPesquisar="ngForm" (submit)="formPesquisar.form.valid && enviarTermo();" class="pesquisar d-flex align-items-center justify-content-between">
    <input type="text" name="pesquisa" id="pesquisa" #pesquisa="ngModel" [(ngModel)]="termoEmPesquisa" required="true" placeholder="Digite qualquer coisa da tabela">
    <label for="email">
        <div *ngIf="formPesquisar.submitted && pesquisa.invalid">
            <span *ngIf="pesquisa.errors.required">
                Este campo é obrigatório.
            </span>
        </div>
    </label>
    <button class="d-flex align-items-center justify-content-between" type="submit"><img src="assets/images/icon_lupa.svg" alt="Pesquisar"></button>
</form>