<section class="container">
    <div class="row head">
        <div class="col-md-6 col-12 d-flex flex-column mb-3 mb-md-0">
            <page-titles
                [title]="'Lucros'"
                [subtitle]="'Relatório de distribuição de lucro'"
            ></page-titles>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-end align-items-end">
            <search-bar [desabilitarValidacao]="true" [termoEmPesquisa]="termoFiltro" (novaPesquisa)="receberNovoTermoBusca($event)"></search-bar>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12" [@opacity]="loader" [hidden]="!loader">
            <div class="box d-flex justify-content-center align-items-center">
                <img src="assets/images/loader.svg" alt="Carregando">
            </div>
        </div>
        <div class="col-12" [@opacity]="!loader" [hidden]="loader">
            <div class="box" *ngIf="arrLucros && arrLucros.length > 0">
                <h3>Distribuição de lucro (último mês)</h3>

                <div class="header">
                    <span class="d-flex paddingl">Data</span>
                    <span class="d-flex justify-content-center hideOnMobile">Moeda</span>
                    <span class="d-flex justify-content-center hideOnMobile">Rendimento</span>
                    <span class="d-flex justify-content-center">%</span>
                    <span class="d-flex paddingr">Saldo</span>
                </div>

                <ul class="data">
                    <li *ngFor="let lucro of arrLucros">
                        <span class="paddingl">{{ lucro.dateMoviment | date:'dd/MM/yy HH:mm' }}</span>
                        <span class="text-center hideOnMobile">{{ lucro.coin }}</span>
                        <span class="text-center hideOnMobile">+{{ lucro.proft | number: '1.0-5' }} {{ lucro.coin }}</span>
                        <span class="text-center">{{ lucro.profitPercentage }}%</span>
                        <span class="paddingr">+{{ lucro.balance | number: '1.0-5' }} {{ lucro.coin }}</span>
                    </li>
                </ul>
            </div>
            <div class="box" *ngIf="arrLucros && arrLucros.length == 0">
                <h3>Não temos esses dados no momento</h3>
            </div>
        </div>
    </div>

</section>